* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Londrina Solid", sans-serif;
}
body {
    width: 100%;
    font-size: 16px;
    padding-bottom: 10%;
    background: linear-gradient(to right, #FBC02D, #FFF9C4);
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
}

/* Nav Bar */
#nav {
    z-index: 99;
    position: fixed;
    padding-top: 1%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    transition: .4s;
}
.logo {
    font-size: 2em;
    margin-left: 5%;
}
.accounts {
    text-align: center;
    color: black;
    cursor: pointer;
    width: 25%;
    overflow: auto;
}
.accounts img {
    display: inline-block;
    padding: 10px;
    width: 20%;
}
.accounts img:hover {
    transition: all .5s ease-in-out;
    transform: translateY(-10%);
}
nav ul {
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav ul li {
    font-size: 1.5em;
    margin-right: 20px;
    cursor: pointer;
    padding: 2px;
}
.icon {
    color: black;
    position: absolute;
    right: 40px;
    display: none;
    cursor: pointer;
}
.icon img {
    width: 20%;
}
.bg-img img {
    margin-top: -35%;
    width: 100%;
    position: relative;
    z-index: -99;
}

/* greeting animation */
@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(.75); color: #00BCD4;}
    40% {transform: scaleX(.75) scaleY(1.25); color: #00BCD4;}
    60% {transform: scaleY(1.15) scaleY(.85); color: #00BCD4;}
    100% {transform: scale(1); color: black;}
}
.rubberBand {
    animation-name: rubberBand;
}
.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
/* resume and greeting */
.main-info {
    background: linear-gradient(to right, #FBC02D, #FFF9C4);
    box-shadow: 0px -4px 10px #fff;
    margin-top: -15%;
    padding-top: 3%;
    margin-bottom: 10%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: top;
    justify-content: space-around;
}
.welcome {
    margin-left: 3%;
    display: block;
    width: 30%;
}
.greeting {
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 2%;
    text-align: left;
}
.greeting h1 {
    display: inline-block;
    padding-right: 2%;
    font-size: 2.5em;
    color: black;
    cursor: context-menu;
}
.resume {
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}
.resume img {
    width: 10%;
    cursor: pointer;
}
.resume img:hover {
    transition: all ease .7s;
    transform: scale(1.3);
}
.resume p {
    margin-top: 3%;
    font-size: 1.7em;
}
/* Project Display */
.project-display {
    width: 60%;
    border-left: 1px solid black;
}
.project-display h1 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 2.5em;
}
.projects-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project {
    display: block;
    text-align: center;
    width: 45%;
    padding: 2.5%;
}
.img-project {
    width: 100%;
    box-shadow: -3px -3px 5px #ff9800;
}
.img-icon {
    margin-top: 3%;
    width: 10%;
}
.img-icon:hover {
    transition: all ease-in-out .5s;
    transform: scaleX(1.25) scaleY(1.25);
}
/* About Me */
.about {
    color: black;
    width: 70%;
    margin: auto;
}
.about h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5em;
}
.about p {
    font-size: 1.5em;
}
.about ul {
    padding-top: 2%;
    display: table;
    margin: auto;
    font-size: 1.3em;
}


@media (max-width: 800px) {
    /* Nav edit */
    nav ul {
        position: absolute;
        top: 60px;
        right: 15px;
        display: block;
    }
    .logo {
        font-size: 1.3em;
        margin-left: 7%;
    }
    nav ul li {
        font-size: 2em;
        margin-right: 10px;
        display: block;
        background-color: #fff;
        padding-bottom: 5px;
    }
    .icon {
        display: block;
        margin-right: -10%;
    }
    .topNav {
        position: absolute;
        top: 0px;
        right: 0px;
        margin-right: 0px;
        display: block;
    }
    .accounts {
        margin-right: 30%;
    }
    .accounts img {
        padding: 5px;
    }
    /* greeting and resume edit */
    .greeting h1 {
        font-size: 2em;
        padding: 3px;
    }
    .resume span {
        font-size: 3em;
    }
    .resume p {
        font-size: 1.4em;
    }
}

@media (max-width: 500px) {
    /* nav edit */
    nav {
        padding-left: 5%;
    }
    .accounts {
        margin-right: 40%;
    }
    .accounts img {
        width: 25%;
    }
    .logo {
        font-size: .8em;
        margin-left: 0;
    }
    .topNav {
        margin-right: 0;
    }
    nav ul li {
        font-size: 1.25em;
    }
    .icon {
        display: block;
        right: 0px;
    }
    /* greeting and resume edit */
    .main-info {
        display: block;
        border-bottom: 2px solid black;
        margin-bottom: 5%;
    }
    .greeting {
        display: inline;
    }
    .greeting h1 {
        font-size: 2em;
        text-align: center;
    }
    .resume span {
        margin-top: 5%;
    }
    .resume p {
        margin-top: 3%;
        margin-bottom: 10%;
    }
    .welcome {
        width: 100%;
        margin: 0;
    }
    .project-display {
        width: 100%;
    }
    .project-display h1 {
        font-size: 2em;
    }
    .about h1 {
        font-size: 2em;
    }
}